# Application
APP_PORT=3000

# Prisma Studio
PRISMA_STUDIO_PORT=5555

# PostgreSQL
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_EMAIL=admin@localhost.com
PGADMIN_PASSWORD=changeme
PGADMIN_PORT=5050

# Redis
REDIS_PORT=6379

# Redis Commander
REDIS_COMMANDER_PORT=8081

# Prisma database connection
DATABASE_URL=postgresql://postgres:changeme@postgres:5432/app?schema=public